@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* set values for scrollbar */
  --scrollbar-width: 10px;
  --scrollbar-thumb-radius: 0px;
  --scrollbar-thumb-border-radius: 0px;
  --scrollbar-thumb-border-width: 0px;
  --scrollbar-thumb-border-style: solid;
  --scrollbar-thumb-border-color: transparent;
  --scrollbar-track-color: #171717;
  --scrollbar-thumb-color: rgb(100, 100, 100);
  --scrollbar-thumb-hover-color: rgb(150 150 150);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-image: var(--bg-img); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* width: 250px; */
  min-height: 100vh;
  /* filter: contrast(1000%) brightness(1000%); */
  /* background: linear-gradient(180deg, rgb(31, 31, 31), rgb(24, 24, 24)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 185 185' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.09' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

/* set scrollbar styles */
html {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  border: var(--scrollbar-thumb-border-width)
    var(--scrollbar-thumb-border-style) var(--scrollbar-thumb-border-color);
  border-radius: var(--scrollbar-thumb-radius);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

/* set scrollbar styles for hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: flex;
  margin-right: 30px;
}